body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1{
    width: 400px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.table{
    width: 400px;
    margin: auto;
}

div#finaliza {
    width: 425px;
    margin: auto;
    padding: 20px;
}

div#contenedor{
    /* border: 2px solid rgb(36, 133, 212); */
    border-radius: 5px;
    padding: 0px 10px 10px 10px;
    font-size: 20px;
    /* font-weight: bold; */
    margin: auto;
    /* margin: 0px 400px 0px 400px; */
    /* margin-right: 100px; */
    /* position: absolute; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonFinal{
    background-color: white;
    color: black;
    border: 2px solid rgb(36, 133, 212);
    font-size: 20px;
    -webkit-border-radius: 8px;
    padding: 5px 100px;
    align-content: center;
    margin: auto;
    width: 100%;
    font-weight: bold;
}

.button{
    display: inline;
    background-color: white;
    color: black;
    border: 1px solid rgb(36, 133, 212);
    font-size: 16px;
    -webkit-border-radius: 8px;
    align-content: center;
    padding: 14px 24px; 
    margin: auto;
    font-weight: bold;
}

input {
    width: 40px;
    height: 35px;
    -webkit-border-radius: 8px;
    background: #FFFFFF;
    border: 2px solid rgb(144, 150, 155);
    align: center;
    font-size: 20px;
    color: rgb(28, 82, 230);
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

input.Grupo_Azul{
    border: 2px solid rgb(36, 133, 212);
}

.modal {
    opacity: 0.9;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    font-size: 20px;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.canetaAnotacoes{
    font-size: 8px;
}

p{
    text-align: center;
    font-weight: bold;
}

.botao{
    width: 400px;
    padding-left:28%;
    padding-bottom: 20px;
    align-content: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}