body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1{
    width: 400px;
    margin: auto;
    padding: 5px 20px 5px 20px;
    text-align: center;
}
div#header{
    margin: auto;
    /* margin-right: 50%; */
    width: 200px;
    /* padding: 100px; */
    padding-bottom: 5px;
}

.table{
    width: 400px;
    margin: auto;
}

div#finaliza {
    width: 454.9px;
    margin: auto;
    padding: 10px;
}

div#contenedor{
    
    border-radius: 5px;
    padding: 0px 10px 10px 10px;
    font-size: 20px;
    /* font-weight: bold; */
    margin: auto;
    /* margin: 0px 400px 0px 400px; */
    /* margin-right: 100px; */
    /* position: absolute; */
    display: flex;
    align-items: center;
    justify-content: center;
}

div#metodos{
    width: 454.9px;
    margin: auto;
    padding: 10px; 
}

div#valores{
    width: 454.9px;
    margin: auto;
    padding: 0px; 
}

.buttonFinal{
    background-color: rgb(36, 133, 212);
    color: white;
    border: 2px solid rgb(36, 133, 212);
    font-size: 20px;
    -webkit-border-radius: 8px;
    padding: 5px 100px;
    align-content: center;
    margin: auto;
    width: 100%;
    font-weight: bold;
}

.button{
    display: inline;
    background-color: rgb(36, 133, 212);
    color: white;
    border: 1px solid rgb(36, 133, 212);
    font-size: 16px;
    -webkit-border-radius: 8px;
    width: 148.72px;
    height: 50px;
    margin: auto;
    font-weight: bold;
}

.val{
    display: inline;
    background-color: rgb(36, 39, 212);
    color: white;
    border: 1px solid rgb(36, 39, 212);
    font-size: 16px;
    -webkit-border-radius: 8px;
    align-content: center;
    padding: 15px 17.874px;
    margin: auto;
    font-weight: bold;
}

textarea {
    text-align: center;
    width: 40px;
    height: 35px;
    -webkit-border-radius: 8px;
    background: #FFFFFF;
    border: 2px solid rgb(144, 150, 155);
    font-size: 27px;
    color: rgb(28, 82, 230);
    text-align: center;
    resize: none;
    overflow: auto;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

textarea.Grupo_Azul{
    border: 2px solid rgb(36, 133, 212);
}

.animacaoSemErro{
   
    animation-duration: 5s;
    animation-name: correto;
   
}

@keyframes correto {
    from {
        font-weight: bold;
        color: rgb(56, 146, 15); 
        border: 2px solid rgb(56, 146, 15);
      
    }
  
    to {
        font-weight: bold;
        color: rgb(56, 146, 15); 
        border: 2px solid rgb(56, 146, 15);
    }
}

@keyframes errado {
    from {
        font-weight: bold;
        color: rgb(253, 2, 2); 
        border: 2px solid rgb(253, 2, 2);
    }
  
    to {
        font-weight: bold;
        color: rgb(253, 2, 2); 
        border: 2px solid rgb(253, 2, 2);
        
    }
}

.modal {
    opacity: 0.9;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    font-size: 20px;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.canetaAnotacoes{
    font-size: 13px;
}

p{
    text-align: center;
    font-weight: bold;
}

p#estatistica{
    font-weight: normal;
}

.botao{
    width: 400px;
    padding-left:28%;
    padding-bottom: 20px;
    align-content: center;
    margin: auto;
}

p#link{
    color:blue;
    font-weight: normal;
    text-decoration: underline;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.limparJogo{
    margin-right: 285px;
    background-color: white;
    font-weight: bold;
    color: black;
    border: 1px solid rgb(36, 133, 212);
    -webkit-border-radius: 8px;

}

#second{
    margin-top: 0px;
    font-weight: normal;
}

.sucesso{
    background-color: rgb(16, 165, 54);
    border: 1px solid rgb(16, 165, 54);
}

.fracasso{
    background-color: rgb(218, 36, 36);
    border: 1px solid rgb(218, 36, 36);
}
